:root {
  font-family: Inter, Arial, sans-serif;
  color: white;
  background: #000;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #000;
}

#root {
  width: 100%;
  min-height: 100vh;
}